@font-face {
    font-family: 'libre_franklinitalic';
    src: url('../font/librefranklin-italic-webfont.woff2') format('woff2'),
         url('../font/librefranklin-italic-webfont.woff') format('woff'),
         url('../font/librefranklin-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
	padding: 0;
	margin:0;
}

body{
	background: #597eaa;
	color: #FFFFFF;
	font-family: 'librefranklin-italic', Helvetica, Verdana;

}

h1{
	color:#000000;
	margin:0.25em auto;
	text-align:center;
	text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
	font-size: 2em;
}

h2, h4{
	color:#000000;
	margin:0.25em auto;
	text-align:center;
	text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
	font-size: 20px;
}

h3, h5{
	color:#000000;
	margin:0.25em auto;
	text-align:center;
	text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
	font-size: 15px;
}

h6{
	color:#000000;
	margin:0.25em auto;
	text-align:left;
	text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
	font-size: 15px;
}
header{
	background: #cccccc;
	border:000000;
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 960px;
	padding: 0.25em;
	text-align: center;
	font-size: 2em;
}

nav{
	background: #cccccc;
	border:000000;
	border-radius: 0.5em;
	margin: 0.5em auto;
	height: 29px;
	max-width: 960px;
	padding: 0.25em;
	text-align: center;
	font-size: 20px;
}

li{
	float:left;
	margin-right: 50px;
	margin-left: 25px;
	padding:5px;
}
footer{
	background: #1E6381;
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 960px;
	padding: 0.25em;
	text-align: center;
}

img #INTRO{
	width: 458px;
	height: 332px;
	padding: 0.25em;
}

img #SC1{
	width: 216px;
	height: 178px;
	padding: 0.25em;
	float: left;
}

section #INICIO{
	background: #6fa8dc;
	border:000000;
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 960px;
	padding: 0.25em;
	height: 1200px;
	text-align: center;
	font-size: 2em;
}


section #INFORMACIONINICIAL, aside{
	background: #6fa8dc;
	border:000000;
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 960px;
	height: 1200px;
	padding: 0.25em;
	text-align: center;
	font-size: 2em;
}

section #cocepto1{
	background: #6fa8dc;
	border:000000;
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 960px;
	padding: 0.25em;
	height: 1270px;
	text-align: center;
	font-size: 2em;
}

section #NORMATIVIDAD, aside{
	background: #6fa8dc;
	border:000000;
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 960px;
	height: 1270px;
	padding: 0.25em;
	text-align: center;
	font-size: 2em;
}

section #Informaciondeconcepto, aside{
	background: #6fa8dc;
	border:000000;
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 960px;
	height: 1270px;
	padding: 0.25em;
	text-align: center;
	font-size: 2em;
}

section #Informacionormatividad, aside{
	background: #6fa8dc;
	border:000000;
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 960px;
	height: 1270px;
	padding: 0.25em;
	text-align: center;
	font-size: 2em;
}

section #IMAGENSC1{

	float: left;
}

section #SECCION1{
	background: #ffffff;
	border:#000000;
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 700px;
	height: 179px;
	padding: 0.25em;
	text-align: center;
	font-size: 20px;
	float: left;
	text-align:center;
	text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
	color:#000000;	
	margin-left: 25px;
}

section #SECCION6{
	background: #ffffff;
	border:#000000;
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 900px;
	height: 95px;
	padding: 0.25em;
	text-align: center;
	font-size: 20px;
	text-align:center;
	text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
	color:#00FF00;	
	margin-left: 25px;
}

section #SECCION7{
	background: #ffffff;
	border:#000000;
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 900px;
	height: 179px;
	padding: 0.25em;
	text-align: center;
	font-size: 20px;
	text-align:center;
	text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
	color:#00FF00;	
	margin-left: 25px;
}
section #SECCION10{
	background: #ffffff;
	border:#000000;
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 900px;
	height: 179px;
	padding: 0.25em;
	text-align: center;
	font-size: 20px;
	text-align:center;
	text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
	color:#00FF00;	
	margin-left: 25px;
}

section #SECCION11{
	background: #ffffff;
	border:#000000;
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 900px;
	height: 450px;
	padding: 0.25em;
	text-align: center;
	font-size: 20px;
	text-align:center;
	text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
	color:#00FF00;	
	margin-left: 25px;
}
section #SECCION9{
	background: #ffffff;
	border:#000000;
	border-radius: 0.5em;
	margin: 0.5em auto;
	width: 900px;
	max-height: 150px;
	padding: 0.25em;
	text-align: center;
	font-size: 20px;
	text-align:center;
	text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
	color:#00FF00;	
	margin-left: 25px;
}

section #SECCION8{
	background: #6fa8dc;
	border:#000000;
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 900px;
	height: 195px;
	padding: 0.25em;
	text-align: center;
	font-size: 20px;
	text-align:center;
	text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
	color:#00FF00;	
	margin-left: 25px;

}

section #SECCION10{
	background: #6fa8dc;
	border:#000000;
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 900px;
	height: 200px;
	padding: 0.25em;
	text-align: center;
	font-size: 20px;
	text-align:center;
	text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
	color:#00FF00;	
	margin-left: 25px;
}

section #IMAGENSC2{
	margin: 0.5em auto;
	float: left;
}

section #SECCION2{
	background: #ffffff;
	border:#000000;
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 700px;
	height: 179px;
	padding: 0.25em;
	text-align: center;
	font-size: 20px;
	float: left;
	text-align:center;
	text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
	color:#000000;	
	margin-left: 25px;
}

aside{
	padding: 0.25em;
	width: 30%;

}

